body {
    color: white;
    background:  black;
    font-family: "Lucida Console", Verdana;
    font-weight: bold;
    font-size:0.8em;
}

div#main {
    background: black;
    margin:auto;
    width:1110px;
    padding:2em;
    border:3px inset #777
}

td#menu_td{
    width:255px;
}

img#data{
    border:1px solid #fff;
}

p.centered{
    text-align:center;
}

p#bottom{
    margin-top:-1.5em;
}

span{
    text-decoration:underline;
}


div#announcer_events{
    padding:2em;
    height:510px;
    width:847px;
    z-index:1000;
    position:absolute;
    top:0;
    left:0;
    background: black;
    border: 1px solid #fff;
    visibility:hidden;
}

div#announcement{
    font-size:larger;
    color:#f55;
}

li{list-style-type:none;}
